version: 2.1
orbs:
  architect: giantswarm/architect@4.38.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          binary: aws-pod-identity-restarter
          filters:
            tags:
              only: /^v.*/

      # Ensure that for every commit (all branches), and for every new release tag,
      # an image is pushed to Quay.
      - architect/push-to-registries:
          context: architect
          name: push-to-registries
          requires:
            - go-build
          filters:
            tags:
              only: /^v.*/

          image: giantswarm/aws-pod-identity-restarter
      - architect/push-to-app-catalog:
          context: "architect"
          executor: "app-build-suite"
          name: "package and push aws-pod-identity-webhook chart"
          app_catalog: "default-catalog"
          app_catalog_test: "default-test-catalog"
          chart: "aws-pod-identity-webhook"
          requires:
            - push-to-registries
          filters:
            tags:
              only: /^v.*/
